.contact-view {
	.contactContent {
		margin: 20px;
	}

	.tip {
		font-size: 11pt;
		font-style: normal;
		font-family: Georgia, Verdana, Times, serif;
		font-weight: bold;
	}

	.info {
		font-size: 9pt;
		font-style: normal;
		font-family: Georgia, Verdana, Times, serif;
		color: #ff6500;
		margin-bottom: 4px;
	}
}