.caz {
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% 0; 
  background-color: white;

}
.unu {
  background-image:url('../img/portfolio/caz1.jpg');
}
.doi{
  background-image: url('../img/portfolio/caz2.jpg');

}
.trei{
  background-image: url('../img/portfolio/caz3.jpg');

}
.patru{
  background-image: url('../img/portfolio/caz4.jpg');

}
.cinci{
  background-image: url('../img/portfolio/caz5.jpg');

}
.sase{
  background-image: url('../img/portfolio/caz6.jpg');
}